html{
font-family: cursive;
}


.title{
 font-size: 30px;
}

header{
max-width: 640px;
margin: 50px auto;
display: flex;
flex-direction: row;
justify-content: space-between;
font-size: 24px;
}


header.title{
display: flex;
align-items: center;
}



header.title img{
margin-right: 30px;
}
