<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
  <header>
     <div class="title"><img src="/static/assets/logo.svg"/>Story blog</div>
     <div class="menu">
         <div class="menu-item">Recent</div>
         <div class="menu-item">Category</div>
         <div class="menu-item">Calendar</div>
     </div>
  </header>
  <div>
     <form method="POST">
        <textarea name="content"></textarea>
        <input type="submit">
     </form>
    <div class="entries">
    {% for entry in entries %}
    <div class="entry">
        <div class="entry-title">Title of story</div>
        <p class="entry-content">{{entry}}</p>
    </div>
     {% endfor %}
    
</div>
</div>
<body>
</html>
